<h1 class="border-b text-center text-blue-700 text-2xl py-2 font-bold">
	Nodemailer MailGun Contact
</h1>

<h1 class="text-center mt-4 text-4xl">THANK YOU</h1>
<p class="text-center text-lg">For Getting In Touch With Us</p>
<h1 class="text-center text-2xl my-4 text-green-500 font-bold">Your message has been delivered.</h1>
<a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 rounded block w-24 text-center mx-auto">
  Go Back
</a>